@model BeerSession.Models.Tasting

<h2 class="center">Participants. Mail sent. Not joined</h2>
<div id="participantList" class="card-list">
    @if (Model.Participants != null)
    {
        @foreach (var item in Model.Participants)
        {
            if (!item.JoinedSession)
            {
                <div id="@item.Name" class="card participant-card">
                    <div class="card-body">
                        <h4 class="card-title" id="part-name">@item.Name</h4>
                        <p id="email">@item.Email</p>
                        <input class="button-primary card-button part-button" onclick="removePart(this)" type="button" id="@item.Name" value="Remove participant" />
                    </div>
                </div>
            }
        }

    }

</div>
<div class="card-list">
    @if(Model.Users != null)
    {
        <h3 class="center">Joined Users</h3>
        @foreach (var item in Model.Users)
        {
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">@item.User.Name</h4>
                    <p></p>
                    
                </div>
            </div>
        }
    }
</div>